*{
    margin: 0;
    padding: 0;
}
/* header start */
.nav-container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    margin-bottom: 50px;
}
body{
    font-family: "Fira Sans", serif;
    background-color: #F1F1F3;
}
main{
    max-width: 1280px;
    margin: 0 auto;
}
.logo h2{
    font-size: 32px;
}
.btn button{
    border-radius: 8px;
    border: 1px solid #006A50;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    cursor: pointer;
    transition: .3s all ease-in;
}
.btn button:hover{
    background-color: #006A50;
    color: white;
}
/* banner start */
.banner{
    border-radius: 24px;
background: #C6E4D6;
padding: 80px 100px;
margin-bottom: 80px;
}
.banner-container{
    display: flex;
    align-items: center;
    gap: 80px;
}

.b-content h4{
    font-size: 24px;
    color: #6A7972;
    margin-bottom: 16px;
}
.b-content h2{
    font-size: 50px;
    margin-bottom: 24px;
}
.b-content button{
    padding: 17px 34px;
    border-radius: 8px;
    background: #006A50;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    transition: .3s all ease-in;
    cursor: pointer;
}
.b-content button:hover{
    background-color: transparent;
    color: black;
}
/* banner end */
/* header end */

/* vision start */

.vision-title h2{
    font-size: 40px;
    margin-bottom: 24px;
}
.vision-title p{
    line-height: 24px;
    margin-bottom: 32px;
}
.vision-card{
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
    align-items: center;
}
.card{
    background: rgba(84, 144, 245, 0.20);
padding: 32px;
border-radius: 16px;
}
.second-bg{
    background: #C6E4D6;
}
.third-bg{
    background: #F7EBCF;
}
.card img{
    margin-bottom: 24px;
}
.card h3{
    font-size: 28px;
    margin-bottom: 12px;
}
.card p{
    line-height: 24px;
    margin-bottom: 24px;
}
.card button{
    padding: 11px 20px;
    border-radius: 8px;
    background-color: #5490F5;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
    transition: .3s all ease-in;
}
.card button:hover{
    background-color: transparent;
    color: black;
}
/* vision end */

/* quote start */
.quote{
    border-radius: 16px;
border: 1px solid rgba(14, 14, 14, 0.15);
padding: 48px 24px;
background: #FFF;
background-image: url(/img/quote-bg.png);
background-repeat: no-repeat;

}
.quote-container p{
    font-size: 16px;
    line-height: 24px;
    color: #3E3E3E;
    margin-bottom: 12px;
}
.quote-container h3{
    font-size: 24px;
    color: #3E3E3E;
    font-weight: 600;
    margin-bottom: 5px;
}
/* quote end */

/* recent news start */
.recent-news{
    margin-top: 80px;
}
.recent-title h2{
    font-size: 40px;
    margin-bottom: 24px;
}
.recent-title p{
    line-height: 24px;
    color: #3E3E3E;
    margin-bottom: 32px;
}
.recent-card-container{
    border-radius: 24px;
    background: #FFF;
    padding: 48px;
    margin-bottom: 24px;
}
.card-wrapper{
    display: flex;
    gap:32px

}
.recent-card-img img{
    border-radius: 24px;
    
}
.recent-card-content h2{
    font-size: 32px;
    color:#3E3E3E;
    margin-bottom: 12px;
    
}
.recent-card-content span{
    margin-right: 12px;
    line-height: 24px;
    color:#3E3E3E;
    font-weight: 400 !important;
   
}
.recent-card-content img{
    margin-bottom: 12px;
}
.recent-card-content p{
    margin-top: 16px;
    margin-bottom: 32px;
}
.recent-card-content button{
    border-radius: 8px;
background: #006A50;
padding: 13px 26px;
color:white;
font-weight: 600;
border: none;
cursor: pointer;
transition: .3s all ease-in;
}
.recent-card-content button:hover{
    background-color: lightseagreen;
}
/* recent news end */

/* donate today start */
.doante-today{
    margin-top: 80px;
}
.donate-title{
    text-align: center;
}
.donate-title h2{
    font-size: 40px;
    margin-bottom: 24px;
}
.donate-title p{
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 32px;
}
.donate-container{
    display: flex;
    gap:24px;
    justify-content: center;
   
}
.item{
    font-size: 30px;
    border-radius: 16px;
border: 1px solid rgba(14, 14, 14, 0.15);
padding: 40px;
background: #FFF;
margin-bottom: 24px;
transition: .3s all ease-in;
}
.item:hover{
    background-color: #C6E4D6;
    color: #006A50;
}
.custome-bg{
    background: #C6E4D6;
    color: #006A50;
}

.doante-today input{
    display: block;
    width: 1032px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 40px;
    border: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: #FFF;
font-size: 20px;
color:#6A7972;
margin-bottom: 32px;
}
.donate-btn{
    text-align: center;
}
.donate-btn button{
    border-radius: 8px;
border: 1px solid rgba(14, 14, 14, 0.10);
padding: 17px 34px;
background: #006A50;
color:white;
font-size: 18px;
font-weight: 600;
cursor: pointer;
transition: .3s all ease-in;
}
.donate-btn button:hover{
    background-color: #5490F5;
}
/* donate today end */

/* subscribe start */
.subscribe{
    margin-top: 80px;
    border-radius: 24px;
background: #C6E4D6;
padding: 80px 100px;
}
.subscribe-content {
    text-align: center;
}
.subscribe-content h2{
    font-size: 40px;
    margin-bottom: 16px;
}
.subscribe-content p{
    line-height: 24px;
    color:#6A7972;
}
.form-container{
    text-align: center;
    margin-top: 25px;
}
.form-container p{
    color:#6A7972;
    margin-top: 25px;
    
}
#subscribe{
    border-radius: 0px 8px 8px 0px;
    background: #006A50;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
    color:white;
    margin-left: -7px;
    border: none;
    transition: .3s all ease-in;
    cursor: pointer;
}
#subscribe:hover{
    background-color: #5490F5;
}
#email{
    width: 600px;
    padding: 18px 40px;
    border-radius: 8px 0px 0px 8px;
    border: none;
}
/* subscribe end */

/* footer start */
footer{
    text-align: center;
    margin-top: 80px;
    padding: 50px 100px;
    background-color: white;

}
footer p{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 60px;
}
.icons{
    display: flex;
    justify-content: center;
    gap:24px;
    cursor: pointer;
}
/* footer end */